.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard h2 {
    font-size: 2.2em;
    margin-bottom: .5em;
}

.dashboard p {
    color: #aaa;
    margin-bottom: 10px 25px;
}

.noposts{
    text-align: center;
}

.noposts p {
    margin-bottom: 1.5em;
}

.nopostsa {
    padding: 10px 25px
}

.post_header, .post_row{
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

}


.post_row {
    align-items: center;
    border-bottom: 1px solid #eee;
    width: 80%;
}

.post_row button, .post_row a {
    margin: 0 5px;
    height: 30px;
    width: 100px;
    font-size: .7em;
}