
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f6fcff;
  font-family: "Montserrat", sans-serif;
}

input::placeholder, textarea::placeholder {
  font-family: "Montserrat", sans-serif;
}

input:focus, textarea:focus {
  outline: none;
}

a, nav button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: #000;
  transition: .4s;
  font-size:  1em;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

a:hover, nav button:hover {
  color: #bbb
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ececec;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.active {
    background-color: #000;
    color: #fff;
}