.wrapper {
    width: 100%;
    max-width: 90vw;
    padding: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 10px 30px -5px rgba(31, 45, 58, 0.08);
  }
  